@charset "UTF-8";

/**************************** ANDROID FILE *********************************/


/************************************ tag ***********************************/

* {
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 80, 145, 0.5);
}

html, body {
    height: 100%;
	line-height: 1.4;
    margin: 0;
	width: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
}

a, a:active {
	color: inherit;
	text-decoration: none;
}

h2 {
	background-color: #fff;
	color: #abc;
	font-size: 14px;
	font-weight: bold;
	padding: 0.5em 16px;
	text-align: center;
}

h3 {
	color: #abc;
	font-size: 16px;
	margin: 1.4em 14px;
}

hr {
	border: none;
	border-bottom: 1px solid #fff;
	height: 1px;
}

table { width: 100%; }

li { position: relative; }

	li a, td a, th a {
		display: block;
		padding: 10px 16px;
	}

strong { font-weight: bold; }

em { font-style: italic; }


/************************************ classi generali ***********************************/

.lightgrey_bg { background-color: #f5f5f5; }

.grey_bg { background-color: #d8d8d8; }

.pink_bg { background-color: #efbab8; }

.blue-text { color: #005091; }

.red-text { color: #c10a25; }

.yellow-text { color: #f3a62c; }

.green-text { color: #0C3; }

.float_right { float:right; }

.align_left { text-align: left; }

.align_center { text-align: center; }

.align_right { text-align: right; }

.valign_top { vertical-align: top; }

.valign_middle { vertical-align: middle; }

.size12px { font-size: 12px; }

.size14px { font-size: 14px; }

.size16px { font-size: 16px; }

.normal { font-weight: normal; }

.bold { font-weight: bold; }

.base_padding { padding: 10px 16px; }

.base_vpadding {
	padding-bottom: 10px;
	padding-top: 10px;
}

.base_hpadding {
	padding-left: 16px;
	padding-right: 16px;
}

.nopadding { padding: 0 !important; }

.top_light_line { border-top: 1px solid rgba(255, 255, 255, 0.4); }

.nowrap { white-space: nowrap; }

.blue-hilite {
	background-color: #005091 !important;
	color: #fff !important;
}

.flag {
	display: block;
	width: 30px;
	margin: 10px auto;
}

.has_arrow::after {
	content: url(../img/freccina.svg);
	height: 14px;
	margin-top: -7px;
	position: absolute;
	right: 8px;
	top: 50%;
	width: 9px;
}

.has_arrow.nosvg::after {
	content: url(../img/freccina.png);
}

.clearfix::after {
	clear: both;
	content: "";
	display: block;
	height: 0;
	width: 0;
}



/************************************ layout generale ***********************************/


/* ------------ liste/tabelle base ----------------- */

.base_list, .base_table {
	background: #f5f5f5;
	color: #000;
	font-size: 12px;
}

	.base_list li {
		clear: both;
		position: relative;
	}
	
	.base_list li:nth-child(even), .base_table tr:nth-child(even) {
		background-color: #f5f5f5;
	}
	
	.base_list li:nth-child(odd), .base_table tr:nth-child(odd) {
		background-color: #d8d8d8;
	}
	
	.base_list.has_popup a {
		padding: 16px 16px 16px 38px;
	}
	
	.base_list.has_popup a.popup_link {
		display: block;
		left: 0;
		margin-top: -13px;
		padding: 0 7px;
		position: absolute;
		top: 50%;
	}


/* ------------ parti comuni (header, titolo di pagina, popup...) ----------------- */

#myheader {
	background-color: #f5f5f5;
	border-bottom: 1px solid #dedede;
	height: 30px;
    left: 0;
	margin: 0;
	padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2000;
}
	
#back_button, #options_button {
	position: absolute;
	top: 0;
}

#back_button {
	display: none; 
	left: 4px;
	width: 30px;
}

#no_result {
	border:2px solid #005091;
	border-radius: 6px;
	color: #333;
	display: none;
	font-size: 16px;
	font-weight: bold;
	left:20%;
	padding:20px 0 20px 0;
	position: absolute;
	right:20%;
	text-align: center;
	top: 45%;
	width: 60%;
	z-index:100;
}
 
#options_button {
	right: 4px;
}
	
#title_page {
	margin-top:4px;
	text-align:center;
}
	
	#title_page span {
		color:#005091;
		font-size:16px;
		font-weight:bold;
		margin-left: 5px;
	}

#options_panel {
	background-image: url(../img/low_contrast_linen.png);
	bottom: 0;
	color: #fff;
	font-size: 12px;
	position: fixed;
	right: -100px;
	text-shadow: none;
	top: 0;
	width: 100px;
	z-index: 3000;
}

#options_panel_mask, #page_mask {
	background-color: rgba(255, 255, 255, 0.5);
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 2900;
}

.option_btn {
	display: block;
}

.my_info_popup {
	background-color: #005091;
	border-radius: 4px;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
	color: #FFF;
	display: none;
	font-size: 12px;
	font-weight: normal;
    left: 30px;
	min-height: 50px;
	padding: 15px;
    position: absolute;
	text-shadow: none;
    width: 80%;
	z-index: 2999;
}

/* eliminato per la necessità di spostare la freccia indipendetemente dal box popup
.my_info_popup::after {
	border: 10px solid transparent;
	border-right: 10px solid #005091;
	content: "";
	height: 0;
	position: absolute;
	left: -20px;
	margin-top: -10px;
	top: 50%;
	width: 0;
	z-index: 1000;
}
*/

#popup_arrow {
	border: 10px solid transparent;
	border-right: 10px solid #005091;
	baaorder-right: 10px solid #F90;
	display: none;
	height: 0;
	position: absolute;
	left: 40px;
	width: 0;
	z-index: 3000;
}
	
	.my_info_popup strong, .my_info_popup b {
		font-weight: bold;
	}
	
	.my_info_popup ul {
		padding-left: 1em;
	}
	
	.my_info_popup li:before {
		content: "-";
		display: inline-block;
		margin-left: -1em;
		width: 1em;
	}

#error_message {
	box-shadow: 0px 1px 1px #000;
	box-sizing: border-box;
	background-color: #DE2922;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	position: absolute;
	text-align: center;
	text-shadow: 0px 1px 1px #000;
	padding: 30px 0;
	top: 50%;
	width: 100%;
}

#impressum {
	background-color: rgba(255, 255, 255, 0.1);
	background-image: url(../img/low_contrast_linen.png);
	bottom: 0;
	display: none;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 8900;
}

#impressum_content {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0px 3px 3px #000;
	margin: 50px auto;
	width: 80%;
}

#bottom_footer {
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
}


/* ------- animazione per la rotella di attesa stile Apple -------- */

@-webkit-keyframes spinner-anim {
	0%		{-webkit-transform: rotate(0deg);}
	100%	{-webkit-transform: rotate(360deg);}
}

img.spinner {
	height: 30px;
	left: 50%;
	margin: -15px 0 0 -15px;
	position: absolute;
	top: 50%;
	width: 30px;
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-animation: spinner-anim 1s steps(12) infinite;
	animation: spinner-anim 1.5s steps(12) infinite;
}

img.spinner.old { /* --------- correzione di un bug di Android < 4 che non riconosce gli step ---------------- */
	-webkit-animation: spinner-anim 1s infinite linear;
	animation: spinner-anim 1s infinite linear;
}



/* ------------ content principale ----------------- */

.content {
	height: 100%;
	overflow: hidden;
	padding-top: 30px;
	position: relative;
	width: 100%;
}

.block_title {
	background-image: linear-gradient(top,#005091,#497bae);
	background-image: -webkit-linear-gradient(#005091, #497bae);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#005091), to(#497BAE));
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 16px;
	atext-shadow: 0 1px 0 #300;
}



/************************************ pagine ***********************************/

/* ------------ home ----------------- */

.emergenza {
	color: #c10a25;
	font-weight: normal;
	padding: 20px 16px !important;
	font-size: 18px;
}

.emergenza img {
	padding-right: 5px;
}

.home-button {
	background-image: linear-gradient(#FEFEFE, #F5F5F5);
	background-image: -webkit-linear-gradient(#FEFEFE, #F5F5F5);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FEFEFE), to(#F5F5F5));
	border-bottom: 1px solid #DDD;
	border-top: 1px solid #fff;
	color: #005091;
	padding: 16px 16px !important;
}
	
	.home-button a {
		color: #005091;
	}

#search_box{
	background-color: #f5f5f5;
	font-size: 12px;
	padding: 1.5em 16px;
}

@-webkit-keyframes gps_anim {
	0%   {-webkit-transform: rotate(0deg);}
	25%  {-webkit-transform: rotate(90deg);}
	50%  {-webkit-transform: rotate(180deg);}
	75%  {-webkit-transform: rotate(270deg);}
	100% {-webkit-transform: rotate(360deg);}
}

.anim_gps {
	-webkit-animation: gps_anim 3s infinite linear;
}

#town_selector {
	font: normal 14px/1.5 inherit;
	margin-top: 8px;
	padding-right: 40px;
	position: relative;
	text-shadow: none;
}

#town_input {
	border: 1px solid #AAA;
	border-radius: 5px;
	font-size: 16px;
	font-family: inherit;
	padding: 7px 4px;
	width: 100%;
}

	#town_selector ul {
		background-color: rgb(230, 232, 240);
		border: 1ps solid #abc;
		list-style: none;
		margin: 0;
		max-height: 200px;
		overflow: hidden;
		padding: 8px;
		position: absolute;
		width: 100%;
		z-index: 5000;
	}
	
	#town_selector li {
		border-bottom: 1px solid rgb(200, 202, 210);
		margin: 0;
		padding: 4px 0;
	}

#cercaPos a {
	float: right;
	padding: 0;
}

#clear_text {
	background: #c8c8c8 url(../img/clear_text.svg) center center no-repeat;
	background-size: 50%;
	border-radius: 7px;
	display: block;
	height: 30px;
	margin-top: -15px;
	position: absolute;
	right: 1px;
	top: 50%;
	width: 30px;
}

#clear_text.nosvg {
	background: #c8c8c8 url(../img/clear_text.png) center center no-repeat;
}

#current_gps {
	line-height: 30px;
}


/* ------------ emergenza ----------------- */

#pericolo {
	background-color: #c10a25;
	color: #fff;
	padding: 14px 15px;
}

	.emerg_line a {
		font-size: 13px;
		padding: 12px 14px;
	}

.emerg_footer {
	background-color: #fff;
	border-top: 1px solid #eee;
}

#no_life_danger {
	font-size: 12px;
	list-style-type: decimal;
	padding: 0 40px;
}

	#no_life_danger li {
		line-height: 2;
		margin: 20px 0;
	}

#info_utili ul li {
	background-color: #f5f5f5;
	font-size: 16px;
	font-weight: bold;
	padding: 4px 0;
}

#info_utili ul li:nth-child(odd) {
	background-color: #d8d8d8;
}

#info_utili ul li span.wsub  {
	float: right;
	font-size: 12px;
	font-weight: normal;
	margin-top: 4px;
	max-width: 230px;
	padding-right: 10px;
	text-align: right;
}

#info_utili p  {
	line-height: 1.4;
	margin: 20px 0;
	padding: 0 16px;
}

#telefona_tab {
	background: #f5f5f5;
	font-size: 12px;
	width: 100%;
}
	
	#telefona_tab tr:nth-child(odd) {
		background: #d8d8d8;
	}
	
	#telefona_tab td {
		padding: 10px 15px;
		vertical-align: middle;
	}
	
	#telefona_tab td:first-child {
		font-size: 14px;
		font-weight: bold;
		white-space: nowrap;
	}

#semaforo h4 {
	margin: 13px 0 15px 46px;
}

#semaforo h4:before{
	-webkit-border-radius: 15px;
	border-radius: 15px;
	content: "";
	height: 30px;
	left: 10px;
	position: absolute;
	top: 10px;
	width: 30px;
}

#semaforo h4.red-text:before{
	background-color: #c10a25;
}

#semaforo h4.yellow-text:before{
	background-color: #f3a62c;
}

#semaforo h4.green-text:before{
	background-color: #0c3;
}

#semaforo p {
	font-size: 12px;
	font-weight: normal;
	margin: 1px 0 1px 30px;
}

#img_scroller {
	overflow: hidden;
	position: relative;
	width: 100%;
}

	#img_scroller img {
		position: absolute;
		vissxibility: hidden;
	}
	


/* ------------ elenco ospedali ----------------- */

.grouped_data_cell, #cases_table th.grouped_data_cell { /* dati raggruppati */
	background-color: #DDE4EB;
	background-image: none;
	border-top: 1px solid #000;
	box-sizing: border-box;
	color: #005091;
	font-size: 12px;
	font-weight: normal;
	text-align: left;
}

.grouped_data_cell p {
	margin-left: 14px;
}

.grouped_data_cell .group_star {
	clear: both;
	float: left;
	width: 14px;
}


/* ------------ dettaglio clinica ----------------- */

#dettaglio li {
	background: #fff;
}

#dettaglio {
	font-size: 14px;
	font-weight: bold;
	padding-bottom: 10px;
}

#emergency_signal_container {
	border: 1px solid #000;
	display: none;
	margin: 6px auto;
	padding: 6px;
	width: 90%;
}

	#emergency_signal_container emtitle {
		background: url(../img/croce_soccorso.svg) left center no-repeat;
		display: block;
		font-weight: bold;
		margin: 6px auto 12px;
		padding-left: 30px;
		width: 70%;
	}

	#emergency_signal_container emtitle.nosvg {
		background: url(../img/croce_soccorso.png) left center no-repeat;
	}

	#emergency_signal_container p {
		font-weight: normal;
		margin: 0;
	}

.detail_table {
	font-weight: normal;
	line-height: 1.2;
}

	.detail_table td, .detail_table th {
		min-height: 24px;
		vertical-align: middle;
	}

	.detail_table th {
		font-weight: bold;
		height: 24px;
		text-align: left;
	}

	.detail_table th {
		padding: 0 16px;
		width: 100px;
	}

	.detail_table.contact_table {
		margin: 8px 0;
	}

	.detail_table.contact_table td {
		padding: 0 16px;
	}

	.detail_table .detail_icons {
		padding-right: 10px;
		text-align: right;
	}

		.detail_table .detail_icons img {
			adisplay: inline-block;
			margin: 2px;
			width: 30px;
		}

#visit_hour_data h4 {
	margin: 16px 16px 0;
}

#visit_hour_data p {
	font-weight: normal;
	margin: 0 16px 16px;
}

#emergency_extra_data p { margin-top: 0.5em; }

#fascia_casi_line a {
	background-color: #d8d8d8;
	color: #005091;
	display: block;
	font-weight: bold;
	padding: 16px;
	position: relative;
}


/* ------------ tabella casi ----------------- */

#cases_table {
	color: #000;
	font-size: 12px;
}
	
	#cases_table th, #cases_table td {
		padding: 6px;
	}
	
	#cases_table th a, #cases_table td a {
		padding: 6px 0;
	}

	#cases_table th {
		background-image: linear-gradient(top,#005091,#497bae);
		background-image: -webkit-linear-gradient(top,#005091,#497bae);
		background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#005091), to(#497bae));
		color: #fff;
		font-weight: bold;
		height: 20px;
		text-shadow: none;
	}

	#cases_table th.grouped_data_cell { /* dati raggruppati */
		padding: 10px 16px 10px 44px;
  	}

	#cases_table tr.foreground th {
		background-color: #d8d8d8;
		background-image: none;
		border-top: 1px solid #333;
		border-bottom: 2px solid #333;
		color: inherit;
		font-style: italic;
		font-weight: normal;
		height: 20px;
		text-shadow:none;
	}

	#cases_table tr:nth-child(even) {
		background: #d8d8d8;
	}
	
	#cases_table #cn {
		min-width: 80px;
	}


/************************** librerie esterne ****************************/

/* ------------------- blockUI ------------------------------*/

.blockUI h1 {
	display: none;
}


/* ------------------- sorttable ------------------------------*/

#sorttable_sortrevind, #sorttable_sortfwdind {
	background: no-repeat center center;
	color: transparent;
	padding: 0 4px;
}

#sorttable_sortrevind {
	background-image: url(../img/down_arrow.svg);
}

.nosvg #sorttable_sortrevind {
	background-image: url(../img/down_arrow.png);
}

#sorttable_sortfwdind {
	background-image: url(../img/up_arrow.svg);
}

.nosvg #sorttable_sortfwdind {
	background-image: url(../img/up_arrow.png);
}

#devicestatus {
	background-color: red;
	border-radius: 3px;
	display: none;
	line-height: 24px;
	left: 60px;
	padding: 0 3px;
	position: absolute;
	text-shadow: none;
	top: 3px;
}
